@{
	Layout = "_Layout";
}

@using PierresBakery.Extensions;

<h2>Authentication with Identity:</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.GetFullName()</p>
  <p>Last time visiting us: @User.GetAccountCreatedOn()</p>
  
  <p> @Html.ActionLink("See all treats and flavors!", "Index", "Home")</p>
  
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }

}
else
{
<p>Thank you for your visit! </p>
<p>@Html.ActionLink("Register", "Register", "Account")</p>
<p>@Html.ActionLink("Log in", "Login")</p>
}