@{
	Layout = "_Layout";
}

@model PierresBakery.Models.Treat

<h3>Edit details for @Model.TreatName</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
<p>Treat: @Html.TextBoxFor(model => model.TreatName)</p>
<p>Price: @Html.TextBoxFor(model => model.Price)</p>
	@Html.Label("Add treat's flavor:")
	@Html.DropDownList("FlavorId")
	<input type="submit" value="Edit"/>
}